.home{
    width: 75%;
    margin: 0 auto;
    display: grid;
    margin-top: 10%;
    grid-template-columns: 0.5fr 3fr;

    &-left{
        display: grid;
        place-items: center;
        span{
            rotate: 90deg;
            font-size: $small-font-size;
            position: relative;
            white-space: nowrap;
            &::after{
                content: "";
                width: 48px;
                height: 1px;
                background-color: $text-color;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
               margin: auto;
                right: -65px;

            }
        }
        &-social{
           
            display:grid;
            row-gap: 10px;
            
            a{
               
                color: $text-color;
                font-size: 20px;
                transition: all .5s ease;
                &:hover{
                    color: $first-color;
                }
            }
          
           
        }

    }

    &-center{
       position: relative;
        display: grid;
        justify-self: center;
        // image
        img{
            width: 220px;
          
        }

        // title
        &-title{
            font-size: $biggest-font-size;
            color: $first-color;
            position: absolute;
            top: -40px;
            display: flex;
            column-gap: 7x;
            justify-self: center;

            span:nth-child(2) {
            z-index: -1;   
           

            }

        }

        // tooltip
        &-tooltip{
          position: absolute;
         top: -8px;
         right: 24px;
      
          
           

            img{
                width: 100px;
            }
            &-text {
                position: absolute;
                background:$gradient-color;
                color: $white-color;
                padding: 6px 12px;
                border-radius: 64px;
                transform: translate(-4px, -20px);
                font-weight: $font-semi-bold;
               
            }
        }

    }
}