.sponsor{
    width: 80%;
    margin: 0 auto;
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
        align-items: center;
        gap: 30px;
        
       

        img{
            width: 150px;
            transition: all .5s ease;
            cursor: pointer;
            &:hover{
                scale: 1.1;
            }

          
        }
       
    }

   
}